<%# <p id="notice"><%= notice %></p> 
<h1>Albums</h1>

<% @albums.each do |album| %>
  <div class='album-container'>
    <div class='image-container'>
      <div class='images'>
        <% album.images.each_with_index do |image, index| %>
            <%= image_tag(album.images_urls[index].to_s, alt: 'Image', class: 'thumb') if album.images?%>
        <% end %>
      </div>
    </div>
    <div class='links-container'>
      <%= album.title %>
      <%= link_to 'Show', album %>
      <%= link_to 'Edit', edit_album_path(album) %>
      <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <br>
<% end %>

<br>

<%= link_to 'New Album', new_album_path %>
<%= link_to 'Posts', posts_url%>